<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="油罐子,找油,找油网,找石油">
    <meta name="description" content="油罐子,找油,找油网,找石油">
    <link rel="shortcut icon" href="favicon.ico" />
    {% block head %}
        layout head
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<h1>
    {% block appTitle %}
        layout app title
    {% endblock %}
</h1>

<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
